# C++ binaries
*.exe

# VScode workspace
*.code-workspace

# secured (private) connection bundle
secure-connect-*.zip

# installation files
install

# project setting stuff
.settings
.classpath
.project
target
node_modules

